{# Этот шаблон основан на базовом #}

{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h1>{{ title }}</h1>
    <p>{{ user }}</p>

    {% for movie in movies %}
    <a href="{{ url_for('html_movie_detail', movie_id=movie.id) }}"><h3>{{ movie.title }}</h3></a>

        {% if movie.year > 2000 %}
            <p>Новый фильм</p>
        {% else %}
            <p>Старый фильм</p>
        {% endif %}

        <p>{{ movie.year }}</p>
        <p>{{ movie.description }}</p>

        <hr>
    {% endfor %}

<!--    это блок контента-->
{% endblock %}

