<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Кинопоиск</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Главная</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{{ url_for('movies') }}">Все фильмы</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{{ url_for('movies_html_create') }}">Добавить фильм</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="/">Все актеры</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{{ url_for('about') }}">О нас</a>
                 </li>
            </ul>
        </div>
    </div>
</nav>