{% extends 'blog_app/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}!</h1>
    <ul class="list-group">
        {% for author in authors %}
        <li class="list-group-item">
            <h4><a href="{% url 'author_posts' author.id %}">{{ author.name }}</a></h4>
            {% if author.profile %}
                <p>Биография: {{ author.profile.bio }}</p>
                <p>Вебсайт: <a href="{{ author.profile.website }}">{{ author.profile.website }}</a></p>
            {% else %}
                <p>Биография отсутствует</p>
            {% endif %}
        </li>
        {% empty %}
            <p>авторов нет</p>
        {% endfor %}
    </ul>
{% endblock %}
